certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
cryptography==3.4.6
Deprecated==1.2.12
Flask==1.1.2
idna==3.1
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
pycparser==2.20
PyJWT==2.0.1
pytz==2021.1
requests==2.25.1
urllib3==1.26.4
vonage==2.5.5
Werkzeug==1.0.1
wrapt==1.12.1
